# BASIC GAME
numpy
    # for morphological operations in Board, via Karthikeya
scipy


# GUI
pygame


# CREATE TRAINING DATA
sgf


# TRAIN
keras
tensorflow
    # save_weights from keras requires this
h5py


# PLAY
    # for forward-prediction in the NN-Bot we currently use theano because tensorflow
    # doesn't like not being in the main thread (pygame is in the main thread)
theano


# DEPRECATED
# matplotlib
    # is required by Karthikeyas learn-script, can probably be realized using a keras function or manually
# scikit-learn


# COMMENTS

# tensorflow on Windows seems to require the 64-bit version of Python

# keras works with tensorflow or theano as backend
# in ~.keras\keras.json the backend is defined, can also be changed at runtime though

# pyinstaller: to build an executable from GTPengine
# if pyinstaller throws AttributeError: module 'enum' has no attribute 'IntFlag',
# run 'pip uninstall enum34' (via stackoverflow.com/a/45716067)
