# commenting out keras and tensorflow until non-problematic packages for Windows are found
#keras
# keras requires tensorflow or theano as backend
#tensorflow
# theano
pygame
numpy
sgf
matplotlib
scipy
