# keras works with tensorflow or theano as backend
# on Windows tensorflow seems to require the 64-bit version of Python 3
# in your ~.keras\keras.json file, set the "backend" to "theano"
theano==0.9.0
tensorflow
keras
numpy
sgf
matplotlib
pandas
scikit-learn
h5py
pygame
scipy

# pyinstaller: if you want to build an executable from GTPengine (confirmed to work in Windows, other OSs untested)
# if pyinstaller throws AttributeError: module 'enum' has no attribute 'IntFlag',
# run 'pip uninstall enum34' (via stackoverflow.com/a/45716067)
